@import "bootstrap";

body { 
	padding-top: 70px;
	background-image: image-url("background.png"); 
	background-repeat: repeat;
}

.navbar{
	background-image: image-url("backgr11.jpg"); 
	background-repeat: repeat-x;
	font-weight: bold;
	box-shadow: 0px 0px 12px #aaa;
}